article {
  background-color: #CCCCCC;
  //border was solid grey
  border: 3px #006699;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 15%;
  padding: 1rem;
  width: 20rem;
}

.redText {
  color: #006699;
}

.blueText{
  color:#996699;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}